<h3>Realizar login</h3>

<form action="/admin" method="POST">
    <label for="username"><b>Nome do usu치rio</b></label>
    <input type="text" placeholder="Entrar com nome do usu치rio" name="username">

    <label for="password"><b>Senha</b></label>
    <input type="password" placeholder="Entrar com senha" name="password">

    <input type="submit" value="Login" class="btn">
</form>

<!-- <h3>Registrar-se</h3> -->

<!-- <form action="/register" method="POST">
    <label for="username"><b>Nome do usu치rio</b></label>
    <input type="text" placeholder="Entrar com nome do usu치rio" name="username">

    <label for="password"><b>Senha</b></label>
    <input type="password" placeholder="Entrar com senha" name="password">

    <input type="submit" value="Register" class="btn">
</form> -->