<div class="author">
    <h1 class="author__heading">Olá, eu sou o Gabriel</h1>
    <p class="author__body">Web Developer</p>
</div>

<img src="/images/hero-image.webp" alt="uma pessoa olhando através da janela" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Últimos posts</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toLocaleString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; Ver posts antigos...</a>
    <% } %>
    
</section>