<div class="author">
    <h1 class="author__heading">Olá, eu sou o Gabriel</h1>
    <p class="author__body">Web Developer</p>
</div>

<img src="/images/hero-image.webp" alt="uma pessoa olhando através da janela" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Últimas postagens</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Data</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>